[submodule "modules/zgl"]
	path = modules/zgl
	url = https://github.com/ziglibs/zgl
[submodule "modules/zglfw"]
	path = modules/zglfw
	url = https://github.com/IridescenceTech/zglfw
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/emidoots/glfw
[submodule "modules/zlm"]
	path = modules/zlm
	url = https://github.com/ziglibs/zlm
[submodule "modules/zgui"]
	path = modules/zgui
	url = https://github.com/zig-gamedev/zgui
